<%= form_with(model: @listing, local: true, data: {remote: true}) do |form| %>
<div class="ad-setting">
  <div class="ad-name">
    <p>広告名</p>
    <%= form.text_field :ad_name %><br>
  </div>
  <div class="ad-parameter">
    <p>広告パラメータ</p>
    ?<%= form.text_field :ad_parameter %><br>
  </div>
  <div class="ad-selector">
    <p>可変セレクター</p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-sample">
      登録する
    </button>
    <div class="modal" id="modal-sample" tabindex="-1">
      <div class="modal-dialog">
        <%= render partial: 'picker' %>
        <!-- 3.モーダルのコンテンツ -->

      </div>
    </div>
  </div>
  <div class="toggle-button">
    <p>On/Off</p>
    <div class="btn-group btn-toggle">
      <button class="btn btn-primary">ON</button>
      <button class="btn btn-default">OFF</button>
    </div>
  </div>
  <div class="right-form">
    <div class="save-delete">
      <button type="submit" name="button" class="btn btn-primary save-setting">保存</button>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
$('.btn-toggle').on('click', function () {
  $(this).find('.btn').toggleClass('active');
  if ($(this).find('.btn-primary').size() > 0) {
    $(this).find('.btn').toggleClass('btn-primary');
  }
  $(this).find('.btn').toggleClass('btn-default');
});
</script>
