<script type="text/javascript">
  $('p.descrive').html("編集したいクリエイティブを選択し、編集することが可能です。")
</script>
<div class="creative-name">
  <p>クリエイティブ名</p>
  <select name="creative" id="selector">
    <% if  params[:id] %>
      <option value="" selected="selected"><%= @listing.creative_name %></option>
    <% else %>
      <option value="" selected="selected">選択してください</option>
    <% end %>
    <% @listings.each do |listing| %>
      <% if listing.listing_user == current_user.user_id %>
        <option value="<%= listing.id %>"><%= listing.creative_name %></option>
      <% end %>
    <% end %>
  </select><br><br>
</div>
<%= render partial: 'option', listing: @listing %>
