<script type="text/javascript">
  $('p.descrive').html("広告URLとクリエイティブを紐付けてください。<br/>「囲うdivタグ」を可変させたいエリアに囲うと、囲った中は非表示となり、代わりに対応するクリエイティブが表示されます。")
</script>
<div class="creative-name">
  <p>クリエイティブ名</p>
  <select name="creative" id="selector">
    <% if  params[:id] %>
      <option value="" selected="selected"><%= @listing.creative_name %></option>
    <% else %>
      <option value="" selected="selected">選択してください</option>
    <% end %>
    <% @listings.each do |listing| %>
      <% if listing.listing_user == current_user.user_id %>
        <option value="<%= listing.id %>"><%= listing.creative_name %></option>
      <% end %>
    <% end %>
  </select><br><br>
</div>
<%= render partial: 'set', listing: @listing %>
