<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <h1 class="text-center">リスティング可変君</h1>
      <ul class="list-inline list-group">
        <li class="list-group-item">
          <a href="/">初期タグ</a>
        </li>
        <li class="list-group-item">
          <a href="/listings/registar">クリエイティブ登録</a>
        </li>
        <li class="list-group-item">
          <a href="/listings/options">クリエイティブ編集</a>
        </li>
        <li class="list-group-item active">セッティング</li>
      </ul>
      <div class="main-container">
        <div class="description">
          <p>広告URLとクリエイティブを紐付けてください。</p>
          <p>「囲うdivタグ」を可変させたいエリアに囲うと、囲った中は非表示となり、代わりに対応するクリエイティブが表示されます。</p>
        </div>
        <div class="ad-setting">
          <div class="ad-name">
            <p>広告名</p>
            <input type="text" name="" value=""><br>
          </div>
          <div class="ad-parameter">
            <p>広告パラメータ</p>
            ?<input type="text" name="" value=""><br>
          </div>
          <div class="ad-creative">
            <p>クリエイティブ</p>
            <select name="creative" id="selector">
              <option value="#" selected="selected">選択してください</option>
              <% @listings.each do |listing| %>
                <% if listing.listing_user == current_user.user_id %>
                  <option value="/listings/<%= listing.id %>/edit1"><%= listing.creative_name %></option>
                <% end %>
              <% end %>
            </select><br>
          </div>
          <div class="ad-selector">
            <p>可変セレクター</p>
            <div class="select-input">
              <div class="check-selector">
                <label><input name="selector" type="radio" id="id">id</label>
                <label><input name="selector" type="radio" id="class">class</label>
              </div>
              <input type="text" name="" value=""><br>
            </div>
          </div>
          <input type="checkbox" id="toggleButton" class="toggle-button"><label for="toggleButton"></label>
        </div>
      </div>
    <% end %>
  </div>
</div>
