<div class="script-tag">
  <p>&lt;script&gt;</p>
</div>
<div class="connect-check">
  <button type="button" name="button">通信確認</button>
</div>
<div class="connect-status">
  <p class="connect">通信ステータス</p>
  <p class="status">未確認</p>
</div>

<script type="text/javascript">
$('p.descrive').html("以下のタグを○○に設置して下さい。"+
"<br>１つのページにつき、下記１つでOKです。"+
"<br>設置後、通信確認をクリックして下さい。")
</script>
