<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% if user_signed_in? %>
      <h1 class="text-center">リスティング可変君</h1>
      <%= link_to "会員登録", new_user_registration_path %> |
      <%= link_to "ログイン", new_user_session_path %> |
      <%= link_to "ログアウト", sign_out_path %>
      <% if defined?(@user.id) %>
        <%= link_to "マイページ", "/users/#{@user.id}"%>
      <% end %>
      <ul class="list-inline list-group">
        <li class="list-group-item"><a href="/">初期タグ</a></li>
        <li class="list-group-item"><a href="/home/show">クリエイティブ登録</a></li>
        <li class="list-group-item"><a href="/home/edit">クリエイティブ編集</a></li>
        <li class="list-group-item active">セッティング</li>
      </ul>
      <div class="main-container">
        <div class="description">
          <p>広告URLとクリエイティブを紐付けてください。</p>
          <p>「囲うdivタグ」を可変させたいエリアに囲うと、囲った中は非表示となり、代わりに
対応するクリエイティブが表示されます。</p>
        </div>
        <div class="ad-setting">
          <div class="ad-name">
            <p>広告名</p>
            <input type="text" name="" value=""><br><br>
            <input type="text" name="" value="">
          </div>
          <div class="ad-parameter">
            <p>広告パラメータ</p>
            ?<input type="text" name="" value=""><br><br>
            ?<input type="text" name="" value="">
          </div>
          <div class="ad-creative">
            <p>クリエイティブ</p>
            <select name="creative">
            <option value="選択肢1">選択肢1</option>
            <option value="選択肢2">選択肢2</option>
            <option value="選択肢3">選択肢3</option>
            </select><br><br>
            <select name="creative">
            <option value="選択肢1">選択肢1</option>
            <option value="選択肢2">選択肢2</option>
            <option value="選択肢3">選択肢3</option>
            </select>
          </div>
          <div class="ad-selector">
            <p>可変セレクター</p>
            <div class="check-selector">
              <label><input name="selector" type="radio" id="id">id</label>
              <label><input name="selector" type="radio" id="class">class</label>
            </div>
            <input type="text" name="" value=""><br><br>
            <div class="check-selector">
              <label><input name="selector" type="radio" id="id">id</label>
              <label><input name="selector" type="radio" id="class">class</label>
            </div>
            <input type="text" name="" value="">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
