/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header nav {
  float: right;
  margin-right: 100px;
}

.list-inline {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.logo:hover {
  color:black;
  text-decoration: none;
}

.list-group-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* 初期タグページ */

.main-container {
  border: solid;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.script-tag {
  background-color: black;
  color: white;
}

.connect-check {
  text-align: center;
}

.connect-status {
  margin-top: 10px;
  background-color: #C0C0C0;
  text-align: center;
  padding: 10px;
}

.connect-status p {
  font-size: 18px;
}

.connect-status p.status {
  font-weight: bold;
}

/* クリエイティブ登録 */
.listing-code {
  background-color: black;
  color: white;

  width: 100%;
  height: 200px;
  margin: auto;
  margin-bottom: 10px;

  vertical-align: text-top;
}

.creative-name {
  display: inline;
}

.right-form {
  text-align: right;
}

/*  クリエイティブ編集*/

.save-delete {
  display: inline;
}

.creative-name select {
  width: 25%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */
  border: 1px solid #999;
  background: #eee;
  background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%, #efebe1 100%);
  background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%, #efebe1 100%);
  background-size: 20px, 100%;
}

/* セッティングページ*/

div.ad-setting {
  margin-top: 20px;
}

div.ad-name {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

div.ad-parameter {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

div.ad-creative {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}


div.ad-selector {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

div.check-selector {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.save-setting {
  vertical-align: bottom;
}
/*  トグルボタン */
div.toggle-button {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
div.body input[type="checkbox"].toggle-button {
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    margin: 10px;
    width: 80px;
    height: 25px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50px;
    background-color: #ddd;
    transition: background-color .4s ease;
}

div.body input[type="checkbox"].toggle-button:checked {
    background-color: #bbb;
}

div.body input[type="checkbox"].toggle-button + label {
    position: relative;
    display: inline-block;
    top: -5px;
    left: -90px;
    width: 35px;
    height: 35px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    transition: left .4s ease, background-color .4s ease;
}

div.body input[type="checkbox"].toggle-button:checked + label {
    position: relative;
    display: inline-block;
    top: -5px;
    left: -45px;
    width: 35px;
    height: 35px;
    border: 0px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    background-color: #00bbd3;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

div.body input[type="checkbox"].toggle-button:focus {
    outline: none;
}
